<p id="notice"><%= notice %></p>

<%= debug @book.versions %>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

 
<h2>Versions</h2>
<%= render @book.versions %>
 
<h2>Add a version:</h2>
<%= form_for([@book, @book.versions.build]) do |f| %>
  <div class="field">
    <%= f.label :edition %><br />
    <%= f.text_field :edition %>
  </div>
  <div class="field">
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
