<%= form_for([@book, @book.versions.build]) do |f| %>
  <%= render "shared/error_messages", :target => @version %>

  <div class="field">
    <%= f.label :edition %><br />
    <%= f.text_field :edition %>
  </div>
  <div class="field">
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
